@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    background-color: rgb(82, 14, 95);
    color: rgb(255, 245, 249);
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    font-family: "Sixtyfour", sans-serif;
}


.gamecontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: "Lilita One", sans-serif;
    position: relative;
    margin-top: 30px;
}

.box {
    border: 2px solid black;
    font-size: 6vw;
    cursor: pointer;
    display: flex;
    color: rgb(82, 14, 95);
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(241, 212, 236);
}

.gameinfo {
    padding: 0 34px;
    font-family: "Exo 2", sans-serif;
    font-size: x-large;
    color: rgb(82, 14, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info {
    font-size: 28px;
    font-weight: 700;
    color: #53127d;
    display: block;
}

.imgbox img {
    width: 0px;
    transition: width 0.6s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(82, 14, 95);
    color: rgb(255, 245, 249);
    border-radius: 6px;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    font-weight: bolder;
    display: inline;
    transition: ease-in-out;
    margin-top: 10px;
}

.line {
    background-color: brown;
    height: 6px;
    position: absolute;
    transition: 0.4s;
    width: 0;
    transform-origin: left center;
}


@media screen and (max-width:900px) {
    .gamecontainer {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .gameinfo {
        margin-top: 30px;
        text-align: center;
        font-size: large;
    }

    .gameinfo h1 {
        font-size: 1.5rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
    }

    .box {
        font-size: 6vw;
    }

    nav ul {
        font-size: 20px;
        height: 45px;
    }
}

@media screen and (max-width: 550px) {

    .container {
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(3, 50px);
    }

    .gameinfo {
        margin-top: 8px;
        text-align: center;
        font-size: large;
    }

    .box {
        font-size: 9vw;
    }

    nav ul {
        font-size: 18px;
        height: 42px;
    }
}

.body {
    background-color: rgb(248, 231, 238);
}

.winner {
    background-color: rgb(225, 116, 207) !important;
    border: 3px solid rgb(150, 14, 98);
    box-shadow: 0 0 20px rgb(193, 4, 108);
    transition: 0.3s ease-in-out;
}

.x-color {
    color: rgb(82, 14, 95);
}

.o-color {
    color: rgb(200, 0, 100);
}

.mode-select {
    text-align: center;
    margin-top: 0px;
}

.mode-select button {
    margin: 10px;
    padding: 8px 14px;
    background-color: rgb(82, 14, 95);
    color: rgb(255, 245, 249);
    border-radius: 6px;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    border: none;
}

.mode-select button.active {
    background-color: rgb(150, 14, 98);
    box-shadow: 0 0 12px rgb(193, 4, 108);
    transform: scale(1.05);
}